#!/usr/local/bin/python3
### Maintained by carias@redhat.com
import time, os.path
import re

from selenium import webdriver
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument("--window-size=1600,1200")
options.add_experimental_option("debuggerAddress", "localhost:9100")
options.add_argument("--user-data-dir={{ ansible_env.HOME}}/.config/google-chrome/workday")

def open_profile():
    os.popen('google-chrome --remote-debugging-port=9100 --user-data-dir="{{ ansible_env.HOME}}/.config/google-chrome/workday" &')


def check_running_session():
    pid = os.popen("ps -ef | grep google-chrome/workday | grep 9100 |grep -v grep| head -n1 | awk {'print $2'}").read()
    if pid: return int(pid)
    else: return 0

def go_to_time():
    try:
        WebDriverWait(driver, 7).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="app-chrome-container"]/div/div[6]/div[1]/div[1]/button'))).click()
        WebDriverWait(driver, 7).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[5]/div/div/div[2]/div[3]/div[2]/div/div[2]/div/ul/li[3]'))).click()
        WebDriverWait(driver, 7).until(EC.element_to_be_clickable((By.XPATH,  "//*[contains(text(), 'This Week')]"))).click()


    except:
        print("Workday landing page not loaded yet")


def introduce_time():
    WebDriverWait(driver, 7).until(EC.element_to_be_clickable((By.XPATH, '//*[@aria-label="Actions"]'))).click()
    time.sleep(0.5)
    WebDriverWait(driver, 7).until(EC.element_to_be_clickable((By.XPATH, '//*[@data-automation-label="Auto-fill from Prior Week"]'))).click()
    WebDriverWait(driver, 7).until(EC.element_to_be_clickable((By.XPATH, '//*[@data-automation-id="selectSelectedOption"]'))).click()
    time.sleep(0.5)
    WebDriverWait(driver, 7).until(EC.element_to_be_clickable((By.XPATH, '//*[@data-automation-id="selectWidget-SuggestionPopup"]/div/ul/li[2]'))).click()
    WebDriverWait(driver, 7).until(EC.element_to_be_clickable((By.XPATH, '//*[@title="OK"]'))).click()

# Main
if not check_running_session():
    open_profile()
    driver = webdriver.Chrome(options=options)
    go_to_time()
    introduce_time()

else:
    driver = webdriver.Chrome(options=options)
    go_to_time()
    introduce_time()
